<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName>Local2018</ServerName><LauncherName></LauncherName><ExternalBrowser></ExternalBrowser><UseStartPage>false</UseStartPage><StartPage useextension="false" ></StartPage><Mappings></Mappings><VariableMappings></VariableMappings><DictionaryVersion>ColdFusion2018</DictionaryVersion><CFCMappings></CFCMappings></ResourceDetails>